<div class="full-height backgroundImage">
  <div class="container">
    <div class="logo">
      <img src="../../assets/images/logo-mes.png" width="150px">
    </div>
    <div class="button-top">
      <a class="btn btn-success login-btn" href="/login">Вход за ресторанти</a>
    </div>
    <div class="jumbotron">
      <div class="text-center header">Изберете най-добрата опция за обяд</div>
      <div class="text-center mt-3">
        <a class="btn btn-success btn-lg" href="/restaurantlist">Към ресторантите</a>
      </div>
    </div>
  </div>
</div>
