<mat-card class="mat-card" routerLink="/register">
  <mat-card-title-group class="mat-card-title-group">
      <img class="mat-card-md-image floatleft" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <div class="floatright">
      <mat-card-title class="mat-card-title">Card with title asdasdasdfsdfgdsfgsdfg dfg sdfg sdfg sdfg sdfg sdfg sdfg sdfg sdfg sdf g</mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">Subtitle asdfasdf asdf ghfdas fhfgh sdfg hf sdfg sdfgsdfgdsfgsdfgsdfg sdfg sdfg</mat-card-subtitle>
      <br>
      <p>from 10 to 18</p>
    </div>
    
  </mat-card-title-group>
</mat-card>